@import "../../libs/hamburgers/hamburgers.scss"
@import "vars"
@import "menu"
@import "tabs" 

  
html
  overflow-x: hidden
body
  font-family: 'Oswald', sans-serif
  overflow-x: hidden
  background-color: #fff
  .hamburger
    z-index: 10
    outline: none
    span
      z-index: -1

.main
  transition: .4s
  min-height: 100vh
  z-index: 1
  background: #fff
  height: 100%
.header
  height: 70px
  background-color: #f4f3f3
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15)
  max-width: 1200px
  position: absolute
  right: 0
  left: 0
  width: 100%
  margin: auto
  margin-bottom: 40px
  display: flex
  align-items: center
  justify-content: flex-end
  padding: 10px 90px

.btn-wrap
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  margin: 40px 0


///////////////////////////////////////////////////
// content
//////////////////////////////////////////////////
.content
  padding-top: 120px

h1
  font-size: 45px
  font-weight: bold
  text-align: center
  display: block
  span
    font-size: 18px
    font-weight: 300
    display: block
    max-width: 320px
    margin: auto
    margin-top: 30px
    color: #555

.heading
  margin: 60px 0

.tabs-section
  margin: 50px 0

.tabs-control
  margin: 30px 0
  display: flex
  justify-content: center
.tab-control
  background-color: #dedede
  color: #fff
  border: none
  margin: 0 4px
  width: 90px
  padding: 10px
  transition: .4s
  &.active
    background-color: $acc

.tabs-content
  max-width: 480px
  padding: 10px 40px
  margin: auto
.tabs-item
  display: none
  animation: tabsAnim
  animation-fill-mode: backwards
  animation-duration: .9s
  &.active
    display: block

@keyframes tabsAnim
  from
    opacity: 0
    transform: translateY(50%)
  to
    opacity: 1
    transform: translateY(0)


.white-space
  height: 150px


.car
  margin: 40px auto
  max-width: 480px
.car-btn
  width: 100%
  display: block
  height: 45px
  display: flex
  align-items: center
  justify-content: center
  border: none
  background-color: $acc
  color: #fff
  cursor: pointer
  border-radius: 3px
.car-item
  width: 90%
  margin: auto
  text-align: center
  padding: 5px 10px
  overflow: hidden
  transition: ease .4s all
